body {
    margin: 0;
    padding: 0;
    background: white;
    display: block;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.btn-2 {
    position: relative;
    display: block;
    color: #000;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    padding: 14px 30px;
    text-transform: uppercase;
}

.btn-2::after, .btn-2::before { 
    border: 2px #000 solid;
    content:'';
    position: absolute;
    border-radius:inherit;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0px;
    bottom: 0px;
    z-index: 0;
    transition: all .25s ease ;
}

.btn-2:hover::after {
    transform: translate(-4px, -4px);
}

.btn-2:hover::before {
    transform: translate(4px, 4px);
}
